@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body 
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper 
{
    max-width: 800px;
    padding: 0 20px;
}

.wrapper h1 
{
    display: flex;
    font-size: 48px;
}

.wrapper .parent-tab 
{
    float: left;
    margin-bottom: 8px;
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.18);
    position: relative;
    z-index: 9999;
}

.wrapper .parent-tab label
{
    color: #000;
    font-size: 48;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    transition: all 0.3s ease;
}

.wrapper label span 
{
    color: rgb(0, 38, 255);
    font-size: 24px;
}

.wrapper .parent-tab .sub-content p 
{
    padding: 15px 20px;
    font-size: 14px;
}

.wrapper .parent-tab .sub-content .left
{
    float: left;
    width: 80%;
    min-width: 575px;
    z-index: 9999;
}

.wrapper .parent-tab .sub-content .middle
{
    float: right;
    width: 20%;
    min-width: 100px;
    z-index: 9999;
}

.wrapper .parent-tab .sub-content .right
{
    float: right;
    width: 20%;
    z-index: 9999;
}